Makefile
Makefile.am
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
code/.deps/
code/.dirstamp
code/crc32c_sse4.o
code/multiword_128_64_gcc_amd64_sse2.o
code/multiword_64_64_cl_i386_mmx.o
code/multiword_64_64_gcc_amd64_asm.o
code/multiword_64_64_gcc_i386_mmx.o
code/usage-crc32c_sse4.o
code/usage-multiword_128_64_gcc_amd64_sse2.o
code/usage-multiword_64_64_cl_i386_mmx.o
code/usage-multiword_64_64_gcc_amd64_asm.o
code/usage-multiword_64_64_gcc_i386_mmx.o
config.h
config.h.in
config.log
config.status
configure
configure.ac
depcomp
examples/.deps/
examples/.dirstamp
examples/interface.o
examples/usage-interface.o
examples/usage-usage.o
install-sh
libcrcutil.a
missing
stamp-h1
test-driver
tests/.deps/
usage
